<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f8f9fa;
      margin: 0;
      padding: 10px;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: #ffffff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="color: #007bff">Order Confirmation</h1>
      <p>Dear <%= userName %>,</p>
      <p>
        Thank you for your order with Mayavi Fashion. We’ve received it and are
        processing it now.
      </p>

      <p>
        You can download your invoice from our website. If you have any
        questions, contact us at +91-9999999999.
      </p>

      <p>Thanks for shopping with us!</p>

      <div style="margin-top: 20px; font-size: 0.9em; color: #6c757d">
        <p>Best,</p>
        <p>
          From:- Mayavi Fashion Team<br />
          Mayavi Fashion LLP<br />
          <a
            href="https://mayavifashion.com"
            style="color: #007bff; text-decoration: none"
            >mayavifashion.com</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
